﻿
@{
    ViewBag.Title = "Comments";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Информация</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>



<ul class="timeline">
    <li >
        <div class="timeline-badge info">
            <i class="fa fa-comments"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading"><strong><h3>Отзывы пользователей</h3></strong></div>
            <div class="timeline-body">
                <ul class="messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>Василиса Никифоровна</strong>
                                <span class="pull-right text-muted">
                                    <em>30.11.14. 20:18</em>
                                </span>
                            </div>
                            <div>Какой хороший сайт! Такие большие буквы, мне наконец-то все хорошо видно!</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>Иннокентий</strong>
                                <span class="pull-right text-muted">
                                    <em>28.11.14. 18:10</em>
                                </span>
                            </div>
                            <div>Прекрасная компания! Мой новый вязаный свитер и большие очки дошли за считанные дни! Мне уже нетерпится заказать у вас новый теплый клетчатый плед!</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>Grumpy Cat</strong>
                                <span class="pull-right text-muted">
                                    <em>28.11.14. 05:44</em>
                                </span>
                            </div>
                            <div>Ужасно дурацкая система добавления заказа на сайте. Ничего не понятно! А кнопка добавления заказа на 2 пикселя левее, чем должна быть!</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>Укропчик</strong>
                                <span class="pull-right text-muted">
                                    <em>25.11.14. 03:25</em>
                                </span>
                            </div>
                            <div>Вообще зачет! Из Голландии все быстро пришло!</div>
                        </a>
                    </li>
                    <li class="divider"></li>

                </ul>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge warning">
            <i class="fa fa-exclamation"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <strong><h3>Результаты опроса</h3></strong>
                <p><i>Как вы оцениваете работу нашей компании?</i></p>
            </div>
            <div class="timeline-body">
                <ul class="tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Отлично</strong>
                                    <span class="pull-right text-muted">42%</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Хорошо</strong>
                                    <span class="pull-right text-muted">25%</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Не очень хорошо</strong>
                                    <span class="pull-right text-muted">15%</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100" style="width: 36%">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Плохо</strong>
                                    <span class="pull-right text-muted">18%</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                   
                </ul>
            </div>
        </div>
    </li>
   

</ul>