﻿@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/timeline.css" rel="stylesheet" />
<link href="~/Content/morris.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Статистика</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">10</div>
                        <div>Новые отзывы</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Comments", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Дополнительно</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">20</div>
                        <div>Новые товары</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Items", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Дополнительно</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">16</div>
                        <div>Новые заказы</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Orders", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Дополнительно</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">14</div>
                        <div>Поставщики</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Vendors", "Home")">
                <div class="panel-footer">
                    <span class="pull-left">Дополнительно</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Товары
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <!-- KICK OFF-->
                </div>
            </div>
            <div class="panel-footer">
                Статистика продаж наиболее популярных товаров
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Заказы
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart">
                </div>
            </div>
            <div class="panel-footer">
                Статистика распределения заказов по континентам (%)
            </div>
        </div>
        <!-- /.panel -->
        <!-- /.panel .chat-panel -->
    </div>


    <!-- /.col-lg-4 -->
</div>

