﻿@model DeliveryMan.Models.ItemsViewModel
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="items">
    @Html.Partial("_ItemsData")
    <!-- /.col-lg-12 -->
</div>

<div class="panel panel-red">
    <div class="panel-heading">
        Добавление нового товара
    </div>
    <div class="panel-body">
        <p>Введите данные для добавления нового товара в поля формы. Все данные являются обязательными для заполнения.  </p>
    </div>
</div>

<div id="FormContainer">
    @Html.Partial("_ItemsForm")
</div>


