﻿@model DeliveryMan.Models.OrdersViewModel

@{
    ViewBag.Title = "Orders";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Заказы</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="alert alert-danger">
    Отображаются только новые заказы.
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Текущие заказы
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Клиент</th>
                                <th>Название товара</th>
                                <th>Цена</th>
                                <th>Тип доставки</th>
                                <th>Континент</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (DeliveryMan.Models.Order item in Model.Orders)
                                {
                                    <tr>
                                        <td>@item.Client</td>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>
                                        <td>@item.Type</td>
                                        <td>@item.Place</td>
                                        <td>@item.Count</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="panel panel-green">
    <div class="panel-heading">
        Добавление нового заказа
    </div>
    <div class="panel-body">
        <p>Введите данные для добавления нового заказа в поля формы. Все данные являются обязательными для заполнения. </p>
    </div>
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <table border="0" cellpadding="10" align="center">
            <tr>
                <td>@Html.LabelFor(m => m.Client):</td>
                <td>@Html.DropDownListFor(m => m.Client, new SelectList(Model.Clients))</td>
                <td>@Html.ValidationMessageFor(m => m.Client)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Item):</td>
                <td>@Html.DropDownListFor(m => m.Items, new SelectList(Model.Items, "Name", "Name", Model.Items.FirstOrDefault().Name))</td>
                <td>@Html.ValidationMessageFor(m => m.Item)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Type):</td>
                <td>@Html.DropDownListFor(m => m.Type, new SelectList(Model.Types))</td>
                <td>@Html.ValidationMessageFor(m => m.Type)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.Count):</td>
                <td>@Html.EditorFor(m => m.Count)</td>
                <td>@Html.ValidationMessageFor(m => m.Count)</td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input type="submit" value="Добавить" class="btn btn-success" />
                </td>
            </tr>
        </table>

       
    </div>
}
