﻿@model List<DeliveryMan.Models.Vendor>
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Поставщики</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="bs-callout bs-callout-info">
            <h4>Поставщик месяца - Doctor's toys</h4>
            <p>Самый популярный товар - Victory of the Daleks Set, 5 шт, 200$</p>
        </div>
    </div>   
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Текущие постащики
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Город</th>
                                <th>Страна</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;

                                foreach (DeliveryMan.Models.Vendor item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.City</td>
                                        <td>@item.Country</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
