﻿.field-validation-error
{
    color:#d9534f;
    font-weight:600;
}

.field-validation-valid
{
    display:none;
}

.input-validation-error
{
    border: 1px solid #953b39;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;
}

.validation-summary-errors
{
    font-weight:800;
    color: #d9534f;
}

.validation-summary-valid
{
    display: none;
}

.messages
{
    width:410px;
    list-style:none;
    padding:5px 30px;
}

.messages li
{
    padding:15px 0px 0px 0px;
}

.messages li a:hover, .messages li a:focus
{
    /*color:white;*/
    text-decoration:none;
    background-color:#f9f9f9;
}

.messages li a
{
    display:block;
    clear:both;
    font-weight:normal;
    line-height:1.428571429;
    color:#333;
}

.tasks 
{
    list-style:none;
    color:black;
    padding:10px 0px 0px 0px;
}

.tasks li a, .tasks li a:hover
{
    text-decoration:none;
    color:#333;
}