﻿
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Товары</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="alert alert-success">
    Отображаются все товары.
</div>

<!-- /.row -->
<div class="row"><div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Доступные товары
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Цена</th>
                            <th>Поставщик</th>
                            <th>Страна</th>
                            <th>Категория</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (DeliveryMan.Models.Item item in Model.Items)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Vendor</td>
                                    <td>@item.Country</td>
                                    <td>@item.Category</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
    <!-- /.col-lg-12 -->
</div>

