﻿@model DeliveryMan.Models.ItemsViewModel

@using (Html.BeginForm("Form","Home" @*new AjaxOptions() { UpdateTargetId = "items", OnSuccess = "$.validator.unobtrusive.parse('form');"}*@))
{
    Html.ValidationSummary();
        
    <table border="0" cellpadding="10" align="center">
        <tr>
            <td>@Html.LabelFor(m => m.Name):</td>
            <td>@Html.EditorFor(m => m.Name, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Price):</td>
            <td>@Html.EditorFor(m => m.Price)</td>
            <td>@Html.ValidationMessageFor(m => m.Price)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Vendor):</td>
            <td>@Html.DropDownListFor(m => m.Vendor, new SelectList(Model.Vendors, "Name", "Name", Model.Vendors.FirstOrDefault().Name))</td>
            <td>@Html.ValidationMessageFor(m => m.Vendor)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.Category):</td>
            <td>@Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories))</td>
            <td>@Html.ValidationMessageFor(m => m.Vendor)</td>
        </tr>
        <tr>
            <td colspan="3" align="center"><input type="submit" value="Добавить" class="btn btn-success" /></td>
        </tr>
    </table>
    
}
